.flexbox {
  display: flex;
  min-height: 100vh;
  justify-content: space-around;
}

.flexitem {
  font-size: 80px;
  border: 1px solid blue;
  border-radius: 10px;
  height: 100px;
}
a:hover {
  color: coral;
}
a {
  text-decoration: none;
}
