* {
  max-width: 100%;
}
html {
  font-size: 800%;
}
@media only screen and (max-device-width: 480px) {
  html {
    font-size: 200%;
  }
}

h1 {
  position: relative;
  justify-content: stretch;
  text-align: center;
  margin: 0%;
  padding: 10px;
  font-family: "Yellowtail", cursive;
  font-size: 110px;
  z-index: 1;
  color: red;
  text-shadow: 3px;
}
h1:hover {
  color: blueviolet;
}
a {
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  margin-left: 220px;
  height: 1000px;
  width: 2000px;
}

#hidebox {
  opacity: 0;
}
